// Override Portal variables in this file

@use 'portals-base/style/variables' with (
  $primary-action-color: rgb(56, 56, 56),
  $secondary-action-color: rgb(94, 94, 94),
  $header-url: '',
  $footer-url: ''
);
